
/*--------------------
Landing
--------------------*/
.landing {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 60vh;
  margin: 25px auto;
  overflow: hidden;
}
.landing .logo svg {
  fill: #1E1C45;
}
.landing .base {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 38px;
  color: #082352;
  background: #fcac13;
  /* background-image: url(../img/bg.jpg) */
}
.landing .image {
  display: none;
}

/*--------------------
Copy
--------------------*/
.copy {
  position: relative;
  z-index: 2;
}
.copy .title {
  font-size: 65px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
  margin-left: -3px;
  background-image: linear-gradient(45deg, #e92842, #f10f47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.copy .title small {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 50px;
  line-height: 1;
  display: block;
  text-indent: 3px;
}
.copy .text {
  color: #282652;
  width: 100%;
  font-size: 90%;
}
.copy .cta {
  cursor: pointer;
  margin-top: 40px;
  background: linear-gradient(170deg,#f8063b, #f80237);
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 600;
}

/*--------------------
Overlay
--------------------*/
.base.overlay {
  z-index: 2;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 200px 500px);
          clip-path: polygon(100% 0, 100% 0, 100% 50px, 0 900);
  color: #fff;
  background: linear-gradient(45deg, #a59672, #080004);
  transition: all .6s ease-in-out;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
          
}
.base.overlay.over {
  -webkit-clip-path: polygon(300px 0, 530px 0, 0 530px, 40% 900);
          clip-path: polygon(-1750px 0, 100% 0, 100% 630px, 0 710px);
          opacity: 0.9;
}

.base.overlay .image {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}
.base.overlay .image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(42deg,#ffb300, #000000);
  opacity: 0.3;
}
.base.overlay .title {
  background-image: linear-gradient(0, #fff, #fff);
}
.base.overlay .text {
  color: #fff;
}
.base.overlay .cta {
  background: #fff;
  color: #0A2452;
}
